
.modal-open .navbar2 {
transform: translateY(-100%)
}
.navbar-brand{
	background-image: url(img/amv-logo-1-hq.png);
	background-repeat: no-repeat;
	width:235px;
	height:45px;
	text-indent: -99em;
	 background-size:contain;
}

.page-template-page-satellite .navbar-brand, .page-template-page-master-control .navbar-brand{
	background-image: url(img/amv-westar-header.png);
	background-repeat: no-repeat;
	width:185px;
	height:68px;
	text-indent: -99em;
	 background-size:contain;
}
.post-type-archive-sales  .navbar-brand, .page-template-page-master-control .navbar-brand{
	background-image: url(img/amv-bcast-header.png);
	background-repeat: no-repeat;
	width:185px;
	height:68px;
	text-indent: -99em;
	 background-size:contain;
	}

.navbar2 {
	position: absolute;
	top:50px;
	z-index: 1;
	width:100%;
	transition: .3s all;
	background-color:#222222;

	.navbar-nav .nav-link{
		font-weight: 300;
	font-size:14px;
	font-size:.87em;
	color:white;
	text-transform: uppercase;
	 text-shadow: 1px 1px 5px rgba(0,0,0,.8);
	}
	@media(min-width:990px) {
		background-color: rgba(255,255,255,0);
	}
}
.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    background-color: rgba(0,0,0,.5);
    }
.navbar1{
	font-size:14px;
	font-weight: 200;
	background-color: #000!important;
	min-height: 50px;
	.phone{
	background: url(img/mobile-o.png) no-repeat 0% 30%;
	padding-left:20px;
	color:white;
	position: relative;
	top:10px;
	@media (max-width:990px){
		top:5px;
	}
	}
	.email{
		@extend .phone;
		background: url(img/envelope-o.png) no-repeat 0% 30%;
		padding-left:30px;
		margin-left:20px;
	}	
}
.customsearchbar1{
		input {
			background: #222222;
			border:1px solid #979797;
			font-size: 14px;
			color:#969696;
			border-radius: 5px 0 0 5px; 
		}
		input::placeholder{
				color:#969696;
		}
		button{
			background-image:url('img/search-o.png') ;
			background-repeat: no-repeat;
			background-position: 50% 60%;
			background-color:#222222;
			text-indent: -999em;
			font-size: 14px;
			border:1px solid #979797;
			border-radius: 0 5px  5px 0; 
			cursor: pointer;
		}
			@media (max-width:990px) and (min-width:576px){
			margin-left:37%;		 
	}
	@media (max-width:575px){
		.form-control{width:auto;}
	}
}

#navbar2 {
	.nav-pills .nav-item.show .nav-link {
		background: transparent;
		}
		 .nav-pills  .dropdown-menu{
			border-radius: 0;
			border:1px solid #ccc;
		}
		 .dropdown-item{
			font-size:12px;
			text-transform: uppercase;
		}
		.dropdown-item:hover{
			background:#17324F;
			color:white;
		}
}
