.page-template-page-gateway .navbar-brand {
    background-image: url(img/amv-gateway.png);
    background-repeat: no-repeat;
    width: 185px;
    height: 68px;
    text-indent: -99em;
    background-size: contain;
}

 .page-template-page-gateway .sectionhero {
			background-image: url("img/gateway-hero-2.jpg");
 }