// MOBILE AND STAGE PAGES


.single-mobile, .single-stage, .single-rental, .single-sales{

	//SPECIAL RULE FOR DM2K
	.post-153 .product-nav-title, .post-464 .product-nav-title, .post-147 .product-nav-title, .post-149 .product-nav-title, .post-591 .product-nav-title {
		overflow: hidden;
		scroll:vertical;
		h2{
			width:90%;
			top:-10px;
			position: relative;
 				@media(min-width:1200px){
 					font-size:2.0em;
 					 
 				}
 			}
 				
		}
.tooltip{
	 

}
.tooltip-inner{
		 
		 

 
img{
				-webkit-box-shadow: 14px 14px 25px -9px rgba(0,0,0,0.75);
-moz-box-shadow: 14px 14px 25px -9px rgba(0,0,0,0.75);
box-shadow: 14px 14px 25px -9px rgba(0,0,0,0.75);
}
		}
		 .product-hover-title {
		 	position:absolute;
		 	bottom:2px;
		 	left:2px;
		 	width:160px;
		 	 text-shadow: 2px 2px 0px rgba(0, 0, 0, 1);
		 	text-align: center;
		 	padding:5px 0;

		 }



	.sectionoverlay {
.product-nav-holder {

}
		.product-nav-title{
			@media(min-width:1200px){
				margin-top:9em;
			}
			@media(max-width:1199px) {
		margin-top:8em;
		}
		@media(max-width:992px) {
			margin-top:0em;
		}

			padding-bottom:.6em;
			position:relative;
			text-transform: uppercase;
			 
			text-align: center;
				overflow: auto;
				width:350px;
		 	@media(min-width:992px) and  (max-width:1200px) {
				width:auto;
			}
				margin-left:auto;
				margin-right:auto;
		  
			a[rel=prev]{
				background:url('img/chevron-left.png') no-repeat;


			}
						a[rel=next]{
				background:url('img/chevron-right.png') no-repeat;

			}

				a[rel=prev], a[rel=next] { 
				 text-indent: -999em;
				display: inline-block;
				height:43px;
				width:30px;
				position: absolute;
				top:9px;
				margin-left:-15px;
				opacity: .5;
				z-index:2;
				
					 
				}

				a[rel=prev]:hover, a[rel=next]:hover{
					opacity: 1;
				}
				// a[rel=prev]:before{
			 
				// 	font-family: "flexslider-icon";
    // font-size: 40px;
    // display: inline-block;
    // content: '\f001';
    // color: rgba(0, 0, 0, 0.8);
    // text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
 
				// }

		}
		
		h2{
			font-size:2.5em;
			display: inline-block;
			padding:10px 30px;
			 
			line-height: 50px;

			@media(min-width:992px) and  (max-width:1200px) {
				font-size:1.5em;
				line-height: 35px;
			}
		}
		h4{
			font-size:1em;
		}
		
		@media(max-width:992px) {
		 
			.contactbtn {
				margin:2% 33%;
				width:33%;
			} 
		}
		h2, h3, h4{
			color: #4A4A4A;
			font-family: Roboto;
			font-weight:300;
		}
		h3{
			padding-bottom:.3em;
		}
	}
}


//. MOBILE FILTER 

.mobile-filter ul[data-group=numberofcameras] {
	display:none;
}
.mobile-filter {
 input[type="checkbox"] {
   display: none;
}
li.checked label {
    background: #ededed;
    padding-left: 1em;
    color:white;
    background:#005FCB;
}
	li, ul {
	@extend .notlist;
	}
	h5{
		text-transform: uppercase;
		text-align: center;
		color:#000;
		font-size:14px;
		padding:10px 0;

	}
	ul li ul li { 
		label{
			cursor:pointer;
			display:block;
			padding:5px 0;
			transition:all .5s;
			margin:0;
		}
		border-top: solid 1px #ccc;
		margin-right:10px;
		padding:0;
		cursor: pointer;
		width:100%;
		font-size:12px;
	}
	ul li ul li:last-of-type{
		border-bottom: solid 1px #ccc;
		margin-bottom:20px;
	}
}
